<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить покупателя</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/Customer/add" method="post" th:each="pro:${customer}" >

  <input th:text="*{pro.name}" type="text" name="name" placeholder="Имя"><br>
  <!--  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{name}"></div>-->

  <input th:text="*{pro.surname}" type="text" name="surname" placeholder="Фамилия"><br>
  <!--&lt;!&ndash;  <div style="color: red" th:if="${#fields.hasErrors('anons')}" th:errors="*{surname}"></div>&ndash;&gt;-->

  <input th:text="*{pro.number}" type="date" name="number" placeholder="Дата рождения"><br>
  <!--&lt;!&ndash;  <div style="color: red" th:if="${#fields.hasErrors('full_text')}" th:errors="*{number}"></div>&ndash;&gt;-->

  <input th:text="*{pro.email}" type="email" name="email" placeholder="Почта"><br>
  <!--&lt;!&ndash;  <div style="color: red" th:if="${#fields.hasErrors('full_text')}" th:errors="*{email}"></div>&ndash;&gt;-->

  <button type="submit">Добавить покупателя</button><br>
  <a href="/Customer">Вернуться</a>
</form>
</body>
</html>