<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Информация о покупателе:</title>
</head>
<body>
<div th:each="pro:${customer}">
  <h4>Информация о покупателе:</h4>
  <p>Имя:</p>
  <p th:text="${pro.name}"></p>
  <p>Фамилия:</p>
  <p th:text="${pro.surname}"></p>
  <p>Дата рождения:</p>
  <p th:text="${pro.number}"></p>
  <p>Почта:</p>
  <p th:text="${pro.email}"></p>
  <a th:href="'/Customer/'+${pro.id}+'/edit'">Изменить</a><br>
  <form th:action="'/Customer/'+${pro.id}+'/remove'" method="post">
    <button type="submit" class="btn btn-del">Удалить</button>
  </form><br>
  <a href="/Customer">Вернуться</a>
</div>
</body>
</html>