<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th>Список сотрудников</th>
<div th:each="pro:${employee}">
<!--  <th>Имя</th>-->
<!--  <p th:text="${pro.name}"/>-->
<!--  <th>Фамилия</th>-->
<!--  <p th:text="${pro.surname}"/>-->
<!--  <th>Телефон</th>-->
<!--  <p th:text="${pro.number}"/>-->
<!--  <th>Почта</th>-->
<!--  <p th:text="${pro.email}"/>-->+
  <a th:href="@{/Employee/{id}(id=${pro.getId()})}" th:text="${pro.getName()}">user</a>
</div>
<a href="/Employee/add">Добавить сотрудника</a><br>
<a href="/">Вернуться</a>
</body>
</html>