<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th>Список сотрудников:</th><br>
<div th:each="pro:${employee}">
  <a th:href="@{/Employee/{id}(id=${pro.getId()})}" th:text="${pro.getName()}">user</a>
</div><br>
<a href="/Employee/add">Добавить сотрудника</a><br>
<a href="/Searchemp">Поиск</a><br>
<a href="/">Вернуться</a>
</body>
</html>