<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить сотрудника</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/Employee/add" method="post" th:each="pro:${employee}" >

  <input th:text="*{pro.name}" type="text" name="name" placeholder="Имя"><br>
  <input th:text="*{pro.surname}" type="text" name="surname" placeholder="Фамилия"><br>
  <input th:text="*{pro.number}" type="date" name="number" placeholder="Дата рождения"><br>
  <input th:text="*{pro.email}" type="email" name="email" placeholder="Почта"><br>
  <button type="submit">Добавить сотрудника</button><br>
  <a href="/Employee">Вернуться</a>
</form>
</body>
</html>